
.layout {
  display: flex;

  &__sidebar {
    padding: 5rem 0 5rem 5rem;
    height: 100vh;
    width: 20%;
    background-color: var(--main-bg);
    border-right: 1px solid #e1e4ed;
  }
 
  &__items{
      margin-top: 3rem;
  }
}

.sidebar{
    
}