.logo {
  display: flex;
  align-items: center;

  &__container {
    width: 4rem;
    height: 4rem;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
  &__title {
    margin-left: 1rem;
    font-size: 2rem;
  }
}

.item {
  margin-bottom: 2.5rem;
  &__container {
    display: flex;
    align-items: center;
  }
  &:hover {
    border-right: 5px solid var(--main-color);
    border-radius: 2px;
  }

  &:hover > &__iconContainer {
    color: var(--main-color);
  }
  &:hover > &__title {
    color: var(--txt-color);
  }

  &__active {
    border-right: 5px solid var(--main-color);
    border-radius: 2px;
  }

  &__container {
    padding: 1rem 0;
    display: flex;
    align-items: center;
  }
  &__iconContainer {
    width: 2rem;
    height: 2rem;
    font-size: 2.5rem;
    color: var(--txt-light);
  }

  &__activeIcon {
    color: var(--main-color);
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--txt-light);
    margin-left: 2rem;
  }
  &__activeText {
    color: var(--txt-color);
  }
}

.sidebar {
  &__items {
    margin-top: 5rem;
  }
  &__upgrade {
    background-color: var(--second-bg);
    margin-right: 3rem;
    padding: 1rem;
  }
  &__title {
    text-align: center;
    font-size: 1.4rem;
    color: var(--main-color);
  }
  &__paragraph {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    color: var(--main-color);
  }
  &__buttonContainer {
    display: flex;
    justify-content: center;
  }
}
